* {
    margin : 0px;
    padding : 0px;
    box-sizing : border-box;
    font-family: 'Quicksand', sans-serif;
}
.landingpage-container {
   background-color : #1F2128;
   height : 100vh;
   width : 100vw;
   overflow-y : scroll;
}
.overview-heading {
    color : white;
    font-size : 1em;
    text-align : left;
    margin-left : 75px;
    margin-top : calc(30px + 1%);
    display : block;
}
