.line-graph {
    height : 200px;
    min-width : 300px;
    width : 100%;
    background-color: black;
    border-radius : 10px;
    padding : 5px;
}
.graph-btn-container {
    display : flex;
    align-items : center;
    justify-content: space-around;
}
.graph-btn {
    color : white;
    border : none;
    background-color: black;
    font-size : 14px;
    border-radius : 5px;
    padding : 3px 4px 3px 4px;
    box-shadow : 0px 0px 5px black;
}
.graph-btn:hover {
    cursor: pointer;
}
.btn-active {
    background-color: rgb(106, 0, 168);
}
.custom-label {
    display : flex;
    color : white;
    justify-content: space-around;
    width : calc(100% - 50px);
    transform : translateX(50px);
    position : relative;
    top : -20px;
    font-size : 12px;
    font-weight : 100;
}
