.search-bar-container {
    display : flex;
    align-items:center;
    justify-content:flex-end;
    flex-direction: row;
    width : 400px;
    max-width : 700px;
    position : relative;
    left : 100%;
    transform : translateX(-100%);
}
.search-icon {
    width : 35px;
    background-color : black;
    padding : 2px;
    border-radius : 5px;
}
.searchbar {
    position : relative;
    text-align : right;
    input[type=search] {
        font-weight : bold;
        font-size : 25px;
        padding-left : 20px;
        margin : 20px 20px 20px 10px;
    }
    input[type=search]:focus {
        outline : none;
    }
}