.view-coins-btn-default {
    font-family : poppins;
    font-size : 1em;
    color : white;
    border : none;
    padding : 3px 9px 3px 9px;
    background-color : #1f2128;
    border : none;
    margin-left : 30px;
    border-radius : 10px;
    padding-left : 25px;
    padding-right : 25px;
}
.view-coins-btn-default:hover {
    background-color :#16171a;
    cursor: pointer;
}
